    
body {
  background-color: white;
}

.card {
position: absolute;
top:100px; 
right: 150px;
opacity: .95;
}

.eventfinder {
  position: relative;
  width:100%;
  height:70px;
  background-color:white;
  padding:5px;
  bottom:0px;
}