body {
    background-color: white;
}

.card {
  position: absolute;
  top:100px; 
  right: 150px;
  opacity: .95;
  width: 20rem;
}
.card2{
  position: absolute;
  top:100px; 
  left: 150px;
  opacity: .95;
  background: transparent;
  color:white;
  width: 30rem;
}

.style {
  width: 100%;
  height: 100%;
}



.result:hover{

  background-color: rgb(236, 247, 93);
  opacity: 80%;
  border: solid;
}



.resultfont{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

.filler{
  background-color:rgb(187, 187, 187);
}
.filler2{
  background-color: white;
  border: solid;
}

.floatresults{
  position: absolute;
}



/*  */

.dates_purple {
  background-color: rgb(169, 104, 230);
}

.dates_pink {
  background-color: rgb(221, 101, 121);
}

.day {
  font-size: 56pt;
		font-weight: 100;
    line-height: 1;
    color: white;
    margin: 3% auto;
}

.month {
  font-size: 24pt;
		font-weight: 900;
		line-height: 1;
    color: white;
    margin: 3% auto;
}

.result {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 17pt;
		font-weight: 700;
		margin: 0px;
}

.venue {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
}

.button_style {
  margin: 0 auto;
}

.time {
  margin: 0px;
}

.img_style {
  padding: 0px;
}

.div_Img {

  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;

 
}

.weather {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
  text-align: center;

}

/* figure {
  height: 100%;
  width: auto;
} */


figure{
  width: 70%;
  height: 30%;
}

/********************************** MEDIA QUERIES *******************************/
@media only screen and (min-width: 400px) and (max-width:670px) { 
  /* For mobile phones: */
  .card {
    position: static;
    width: 32rem;
  }
  .card2{
    position: static;
    width: 32rem;
  }
}

@media only screen and (min-width:768px)  {
  /* For tablets: */
  .card {
    position: absolute;
    right: 60px;
    
  }
  .card2{
    position: absolute;
    left: 60px;
  }
}
