body {
    background-color: white;
    font-size: 16px;
}

.logo{
  position: absolute;
  top: 100%;
  left:150px;
}

.card {
  position: absolute;
  top:100px; 
  right: 150px;
  opacity: .95;
}
.card2{
  position: absolute;
  top:100px; 
  left: 150px;
  opacity: .95;
  background: transparent;
  color:white;
}

.style {
  width: 160px;
  height: 90px;
}



.result:hover{
  background-color: orange;
  opacity: 80%;
  border: solid;
}

.rowstyle{
  padding: 10px;
  width: 90%;
  text-align: center;
}

.resultfont{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.filler{
  background-color:rgb(187, 187, 187);
}
.filler2{
  background-color: white;
  border: solid;
}

.floatresults{
  position: absolute;
}

.weather_button {
  height: 30%;
}


.ticket_button {
  height: 30%;
}

.fixMargin {
  margin-top: 50px;
}


